<p style="color: green"><%= notice %></p>

<h1>Tasks</h1>
<%= link_to "New task", new_task_path %>
<%= link_to "Logout", destroy_user_session_path, data: { "turbo-method": :delete } %>

<div id="tasks">
  <div class="row">
    <% @tasks.each do |task| %>
        <%= render task %>
    <% end %>
  </div>
</div>

